.blog {
    .blogContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .cube {
            height: 60vh;
            width: 30vw;
            margin: 1rem;
            img {
                max-width: 100%;
            }
            h6 {
                margin-bottom: 0.5rem;
            }
            h5 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}