.container-fluid {
    margin: 3rem 1rem;
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        .column {
            flex: 25%;
            max-width: 33.3%;
            padding: 0 4px;
            img {
                margin-top: 8px;
                vertical-align: middle;
                width: 100%;
                filter: grayscale(1) brightness(0.5);
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s linear;
            }
            img:hover {
                filter: grayscale(0);
            }
        }
    }
}